.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  gap: 20px;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 2px;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
}
