.head {
  background-color: #c41f85;
  width: 100%;
  height: 100%;
}
.head p {
  background-color: #c41f85;

  padding: 13px 0px;
  color: #fff;
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 87%; /* 17.4px */
  letter-spacing: 4.2px;
  text-transform: capitalize;
}

.asset {
  display: flex;
  justify-content: first space-between;
  gap: 18px;
}

.asset img {
  width: 140px;
  height: 72px;
  top: 82px;
  left: 26px;
  gap: 0px;
  opacity: 0px;
}
.bg h4 {
  color: #fff;
  font-family: Jost;
  font-size: 80px;
  font-weight: 700;
  line-height: 87px;
  text-align: left;
}
.bg p {
  color: #fff;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
}

.b {
  position: relative;
}

.bg {
  position: absolute;
  top: 0px;
  left: 0%;
}
.card {
  width: 300px;
}

.v h4 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; /* 48px */
}

.money h4 {
  color: #000;
  text-align: center;
  /* Text Price */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.money p {
  color: #454545;
  text-align: center;
  /* Text Pragraph */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
}

.add-card {
  border-radius: 8.512px;
  background: #d8d8d8;
  width: 15%;

  font-size: 20px;

  color: #000;
}
.add-cart {
  background: #d8d8d8;
  display: flex;

  padding: 16px 30px;
  border-radius: 8.512px;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 80%;
}
.button {
  display: flex;
  align-items: center;
  width: 301px;
  height: 41px;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: flex-end;
}
